.store_offers__container{
    display: flex;
    justify-self: center;
    padding-top: 60px;
    background-color: aqua;
    width: 55%;
    margin: 30px 370px 0px 400px;
}
.store_offers__left{
    display: flex;
    flex-direction: column;
}
p-carousel{
    max-width: 100%;
}

