.store__container{
    color: #ffff;
    margin: 30px 0px 0px 400px;
    padding: 10px;
}

.store__main{
    text-decoration: none;
    display: flex;
    flex-direction: row;
}
.game-front{
    
    width: 616px;
    height: 353px;
    }
.info{
    background-color: #0B151E;
    color: #ffff;
}

.game__info{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.game__tag{
    background-color: #394148;
    
    width: 50px;
    border-radius: 5px;
    padding: 3px;
    margin-top: 5px;

    font-size: small;
}
.game__price{
    font-size: small;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.app__name{
    margin-left: 15px;
    
    display: flex;
    align-items: center;
    width: 314px;
    height: 69px;
}
.screenshots{
    position: relative;
    padding: 10px;
    display: inline-block;
    width: 364px;
    
}
.screenshots>div{
    width: 172px;
    height: 79px;
    padding: 10px 10px 0px 0px;
    display: inline-block;
}
.screenshots>div>img{
    width: 162px;
    height: 69px;
}