.search-bar__container{
    background: rgb(2,0,36);
    background: linear-gradient(278deg, rgba(2,0,36,1) 0%, rgba(90,137,182,1) 47%);
    
    display: flex;
    position: absolute;
    width: 900px;
   
    z-index: 9999;

    left: 25%;
    right: 50%;
    top: 150px;
    height: 35px;

    
}
.search-bar__store{
    padding: 5px;
    display: flex;
    flex-grow: 1;
    justify-content: end;
}
.search-bar__store>input{
    width: 12rem;
    display: flex;
    height: 1.7rem;
    padding-top: 10px;
    
    border-radius: 5px;
    border: none;
    justify-content: center;
    padding: 10px;
    color: #ffffff;
    background-color: #316282
}

.search-bar__nav-left{
    padding-left: 10px;
    color: #FAFCFD;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.search-bar__nav-left> span{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}
.search-bar__nav-left> a{
    padding: 0.5rem;
    text-decoration: none;
   
    color:#FAFCFD;

    display: flex;
    justify-content: center;
}
