
<div class="search-bar__container">
    <div class="search-bar__nav-left">

        <a href="#">
            <span>Sua Loja</span>
        </a>

        <span>Novidades e tendências</span>
        <span >Categorias</span>
        
        
        <a href="https://store.steampowered.com/points/?snr=1_4_4__12">Loja de pontos</a>
        <a href="https://store.steampowered.com/news/?snr=1_4_4__12">Noticias</a>
        <a href="https://store.steampowered.com/labs/?snr=1_4_4__12">Laboratório</a>
    </div>

    <div class="search-bar__store">
        <input type="text" placeholder="Buscar">
    </div>
</div>
