.steam-store__container{
    background-color: #1B2839;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 50%;
    bottom: -54%;
    display: flex;
    flex-direction: column;
}




.glutter{
    position: absolute;
    width: 12%;
    height: 450px;
    margin: 30px;  

    left: 9%;
}