a{
    text-decoration: none;
}
.gift_cards{
    margin-top: 30px;
}

.gift_cards>img{
    max-width: 85%;
}

.gift_cards>h2{
    color: #84BCE8;
    font-size: medium;
    font-weight: bold;
}
.gift_cards> h2:hover{
    color: #ffff;
    
}
