<a href="https://store.steampowered.com/digitalgiftcards/">
    <div class="gift_cards">
        <img src="./../steam_cards.png" alt=""> 
        <h2>VALES-PRESENTES STEAM</h2>
    </div>
</a>
<app-sections 
    title = "RECOMENDADOS"
    [linkList] = "recomendado"
    >
</app-sections>
<app-sections 
    title = "VER CATEGORIAS"
    [linkList] = "categoria"
    >
</app-sections>
<app-sections 
    title = "VER CATEGORIAS"
    [linkList] = "categoria"
    >
</app-sections>
<app-sections 
    title = "VER CATEGORIAS"
    [linkList] = "categoria"
    >
</app-sections>