<ng-template [ngIf]="game_data.card == 'big'">
    
    <div class="big_card" >
        <a>
            <img src = "{{game_data.images.cover}}">
            <div class="big_card__info">
                <p>OFERTA DO FIM DE SEMANA</p>
                <p>Oferta valida até 13 de mar. ás 14:00</p>
                
                <p>{{game_data.name}}</p>
            </div>
        </a>
    </div>
    
</ng-template>
<ng-template [ngIf]="game_data.card == 'small'">
    <div class="small_card" >
        <a>
            <img src = "{{game_data.images.cover}}">
            <div class="small_card">
                <p>{{game_data.name}}</p>
            </div>
        </a>
    </div>
</ng-template>
