<div class="steam-bar__container">

    <div class="steam-bar__img">

        <a href="" >
            <img 
            src="./../imgs/logo_steam.svg" 
            alt="Steam_logo" 
            srcset="">
        </a>
    </div>


    <div class="steam-bar__content">
        <a href="">LOJA</a>
        <a href="">COMUNIDADE</a>
        <a href="https://store.steampowered.com/about/?snr=1_4_4__global-header">SOBRE</a>
        <a href="https://help.steampowered.com/pt-br/">SUPORTE</a>
    </div>


    <div class="steam-bar__content-holder">
       
        <a 
        href="https://store.steampowered.com/about/?snr=1_4_4__global-header" 
        class="steam-bar__content-holder__download">
            <i 
            class="material-symbols-outlined">
            download
            </i>
            <p>Instale o Steam</p>
        </a>

        <div 
        class="steam-bar__content-holder__configs">

            <a href="https://store.steampowered.com/login/?redir=&redir_ssl=1&snr=1_4_4__global-header">iniciar sessão</a>
            <a href=""> | idioma</a>
        
        </div>
    
    </div>
</div>
