.steam-bar__container{
    width: 100%;
    border: 5px solid red;
    height: 110px;
    background-color: #171D25;
    
    display: flex;
    flex-direction: row;
    
    
}
.steam-bar__img{
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.steam-bar__img >a{
    display: flex;
    justify-content: center;
    
}
.steam-bar__img >a> img{
    width: 176px;
    
}

.steam-bar__content{
    display: flex;
    font-weight: bold;
    align-items: center;
    font-family:    "Poppins", sans-serif;
}
.steam-bar__content> a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.steam-bar__content> a:hover{
    color: #1A9FFF;
}



.steam-bar__content-holder{
    padding: .5rem;
    width: 35%;
    display: flex;
    flex-direction: row;
    margin-left: 10.5rem;
    display: flex;
    

    
}
.steam-bar__content-holder__configs>a{
    text-decoration: none;
    color: gray;

}
.steam-bar__content-holder__download{
    background-color: #6C9018;
    color: white;
    
    height: 25px;
    width: 135px;
    margin-right: 1rem;
    
    text-decoration: none;
    font-size: small;
    
    display: flex;
    

}
.steam-bar__content-holder__download>i{
    display: flex;
    justify-content: center;
    margin-bottom: .15rem;
    
}
.steam-bar__content-holder__download>p{
    margin-top: .25rem;
    width: 80%;
    color: white;
    display: flex;
    justify-content: center;
    
}
